<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-3 col-md-6 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Today's Money
                </p>
                <h5 class="font-weight-bolder mb-0">
                  $53,000
                  <span class="text-success text-sm font-weight-bolder"
                    >+55%</span
                  >
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape custom-bg shadow text-center border-radius-md"
              >
                <i
                  class="ni ni-money-coins text-lg opacity-10"
                  aria-hidden="true"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Sales
                </p>
                <h5 class="font-weight-bolder mb-0">
                  $103,430
                  <span class="text-success text-sm font-weight-bolder"
                    >+5%</span
                  >
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape custom-bg shadow text-center border-radius-md"
              >
                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div
          class="card-header pb-0 d-flex align-items-center justify-content-between"
        >
          <h6>Gains</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table
              id="table"
              class="table align-items-center mb-0"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Date
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Amount gained
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Purchase Amount
                  </th>
                </tr>
              </thead>

              <tbody>
                <% if(gains.length > 0){ %> <% for(let i = 0; i < gains.length;
                i++){ %>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">
                          <%= gains[i].date_gain %>
                        </h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs text-secondary mb-0">
                      $<%= gains[i].montant_gain %>
                    </p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      $<%= gains[i].montant_paie %>
                    </p>
                  </td>
                </tr>

                <% } %> <% }else{ %>
                <tr>
                  <td colspan="3" class="text-center">No gain obtained yet</td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
