.main-hero {
  background: url("../images/fabio-magalhaes-nmTm7knUnqs-unsplash.jpg");
}

.pricing-item .pricing-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a{
    width: 30%;
  }
}