<link rel="stylesheet" href="css/commercial.css" />
<link rel="stylesheet" href="css/articles.css" />


    <div class="hero-content custom-wrapper">
      <h1>Nos articles</h1>
      <h3>Accueil - articles</h3>
    </div>
  </div>
</div>

<section class="custom-wrapper pricing">
  <div class="heading">
    <i class="section-icon fa-solid fa-wifi"></i>
    <p class="section-title">BEST TV BOX Features</p>
    <h1>Discover Our Best Plans</h1>
  </div>
  <div class="pricing-items">
    <div class="pricing-item">
      <div class="promo">Promo</div>
      <br />
      <img src="images/pngwing 4.png" alt="Internet" />
      <div class="desc">
        <i class="fa-solid fa-wifi"></i>
        <h2>Internet</h2>
        <!-- <ul>
          <li>Home Broadband</li>
          <li>Cell Phone Connection</li>
          <li>Home Security</li>
          <li>99% Internet Uptime</li>
        </ul> -->
      </div>
      <p><span class="price">39.99$</span>/Month</p>
      <a href="#" class="buy-btn"
        >Acheter<i class="fa-solid fa-arrow-right"></i
      ></a>
    </div>
    <div class="pricing-item">
      <div class="promo">Promo</div>
      <br />
      <img src="images/z10-pro-300x222 (1) 1.png" alt="Internet + TV" />
      <div class="desc">
        <div class="icons">
          <i class="fa-solid fa-wifi"></i> + <i class="fa-solid fa-tv"></i>
        </div>
        <h2>Internet + TV</h2>
        <!-- <ul>
          <li>Home Broadband</li>
          <li>Cell Phone Connection</li>
          <li>Home Security</li>
          <li>99% Internet Uptime</li>
        </ul> -->
      </div>
      <p><span class="price">39.99$</span>/Month</p>
      <a href="#" class="buy-btn"
        >Acheter<i class="fa-solid fa-arrow-right"></i
      ></a>
    </div>
    <div class="pricing-item">
      <div class="promo">Promo</div>
      <br />
      <img src="images/b2-300x222 1.png" alt="Internet + TV + Phone" />
      <div class="desc">
        <div class="icons">
          <i class="fa-solid fa-wifi"></i> + <i class="fa-solid fa-tv"></i> +
          <i class="fa-solid fa-mobile-screen"></i>
        </div>
        <h2>Internet + TV + Phone</h2>
        <!-- <ul>
          <li>Home Broadband</li>
          <li>Cell Phone Connection</li>
          <li>Home Security</li>
          <li>99% Internet Uptime</li>
        </ul> -->
      </div>
      <p><span class="price">39.99$</span>/Month</p>
      <a href="#" class="buy-btn"
        >Acheter<i class="fa-solid fa-arrow-right"></i
      ></a>
    </div>
  </div>
</section>
