<link rel="stylesheet" href="css/commercial.css" />


    <div class="hero-content custom-wrapper">
      <h1>Devenir commercial</h1>
      <h3>Accueil - Commercial</h3>
    </div>
  </div>
</div>

<section class="become-marketer custom-wrapper">
  <form action="" method="post">
    <h2>Faire une demande</h2>
    <div class="form-group">
      <input type="text" name="nom" id="nom" class="form-control" placeholder="Nom">
    </div>
    <div class="form-group">
      <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Prénom">
    </div>
    <div class="form-group">
      <input type="email" name="email" id="email" class="form-control" placeholder="Adresse électronique">
    </div>
    <div class="form-group">
      <input type="number" name="phone" id="phone" class="form-control" placeholder="Numéro de téléphone">
    </div>

    <div class="form-group">
      <input type="submit" name="submit" id="submit" class="form-btn" value="Envoyer">
    </div>
  </form>
</section>

<section class="custom-wrapper features">
  <div class="heading">
    <i class="section-icon fa-solid fa-money-bill"></i>
    <p class="section-title">Avantages</p>
    <h1>
      Pourquoi devenir<br />
      Commercial
    </h1>
  </div>
  <div class="features-list">
    <div class="feature-item">
      <i class="fa-2xl fa-solid fa-money-bill"></i>
      <h4>Income</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorem
        inventore maiores explicabo eos aspernatur quidem.
      </p>
    </div>
    <div class="feature-item">
      <i class="fa-2xl fa-solid fa-signal"></i>
      <h4>Speed On Demand</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorem
        inventore maiores explicabo eos aspernatur quidem.
      </p>
    </div>
    <div class="feature-item">
      <i class="fa-2xl fa-solid fa-tower-cell"></i>
      <h4>Upgrade Speed</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorem
        inventore maiores explicabo eos aspernatur quidem.
      </p>
    </div>
  </div>
</section>