<div class="container d-flex justify-content-center">
  <form role="form" class="col-md-6" action="/promotions/<%= promotion[0].id_usr %>" method="post">
    <h2>Edit Promotion</h2>
    <label>Code</label>
    <div class="mb-3">
      <input
      disabled
        name="code"
        value="<%= promotion[0].code_prom %>"
        type="text"
        class="form-control"
        aria-label="code"
        aria-describedby="code-addon"
      />
    </div>
    <label>Discount</label>
    <div class="mb-3">
      <input
        name="discount"
        value="<%= promotion[0].reduction_prom %>"
        type="number"
        step="any"
        class="form-control"
        aria-label="discount"
        aria-describedby="discount-addon"
      />
    </div>
    <label>Commission</label>
    <div class="mb-3">
      <input
        name="commission"
        value="<%= promotion[0].commission_prom %>"
        type="number"
        step="any"
        class="form-control"
        aria-label="commission"
        aria-describedby="commission-addon"
      />
    </div>
    <div class="btn-group d-flex justify-content-center">
      <input type="submit" value="Save" class="btn btn-success" />
    </div>
  </form>
</div>
