<div class="container d-flex justify-content-center">
  <form role="form" class="col-md-6">
    <h2>Edit Promotion</h2>
    <label>Marketer</label>
    <div class="mb-3">
      <select
        class="form-control"
        placeholder="Marketer"
        aria-label="Marketer"
        aria-describedby="marketer-addon"
      >
        <option value="">John Doe</option>
        <option value="">Lorem</option>
      </select>
    </div>
    <label>Phone</label>
    <div class="mb-3">
      <input
        type="tel"
        class="form-control"
        placeholder="Phone"
        aria-label="Phone"
        aria-describedby="phone-addon"
      />
    </div>
    <label>Phone</label>
    <div class="mb-3">
      <input
        type="tel"
        class="form-control"
        placeholder="Phone"
        aria-label="Phone"
        aria-describedby="phone-addon"
      />
    </div>
    <div class="btn-group d-flex justify-content-center">
      <input type="submit" value="Save" class="btn btn-success">
    </div>
  </form>
</div>